body {
    background-image: url("/image/background_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-section{
    height:150px;
}

.top-section h1 {
    text-align: center;
    padding-top: 45px;
    margin-top: 0%;
    font-size: 60px;
    font-family: ui-sans-serif;
}

.data-section{
    margin-top: 20px;
    text-align: -webkit-center;
    
}

.inner-span{
    background: rgba(0, 0, 0, 0.816);
    display: block;
    justify-content: center;
    text-align: center;
    width: 400px;
    border-radius: 10%;
}

.input-data{
    padding-top: 20px;
}

.input-data input{
    border-radius: 20px;
    height: 30px;
    width: 200px;
    background-color: rgba(111, 107, 107, 0.559);
    color: #fff;
}
